<!-- This partial is included before the end of the head tag for only the 'example' presentation -->
<!-- A common use would be to add CSS to the page to customize the theme -->
<style>
/* Add padding, margin and a hover effect on code samples */
.reveal section pre {
    box-shadow: none;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid lightgrey;
}
.reveal section pre:hover {
    border: 1px solid grey;
    transition: border 0.3s ease;
}
.reveal section pre > code {
    padding: 10px;
}
.reveal table {
    font-size: 0.65em;
}
/* For slide-specific CSS example */
.reveal section.side-by-side h1 {
    position: absolute;
}
.reveal section.side-by-side h1:first-of-type {
    left: 25%;
}
.reveal section.side-by-side h1:nth-of-type(2) {
    right: 25%;
}
.reveal section[data-background-image] a,
.reveal section[data-background-image] p,
.reveal section[data-background-image] h2 {
    color: white;
}
.reveal section[data-background-image] a {
    text-decoration: underline;
}

.line {
    background: #D77C29;
}

.line.top {
    height: 55px;
}

.reveal pre {
    font-size: 0.8em;
}

.reveal h1 {
    font-size: 1.3em;
}

.reveal section img {
    border: none;
}

a.tags {    
    display: inline-block;
    height: 48px;
    line-height: 48px;
    position: relative;
    margin: 0 32px 8px 0;
    padding: 0 10px 0 12px;
    background: #00a6df;    
    -webkit-border-bottom-right-radius: 3px;    
    border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;    
    border-top-right-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: #fff;
    font-size: 20px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    font-weight: bold;
}

a.tags:before {
    content: "";
    position: absolute;
    top:0;
    left: -24px;
    width: 0;
    height: 0;
    border-color: transparent #00a6df transparent transparent;
    border-style: solid;
    border-width: 24px 24px 24px 0;        
}

a.tags:after {
    content: "";
    position: absolute;
    top: 20px;
    left: 1px;
    float: left;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
    box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
}
</style>